In [1]:
import pandas as pd
import numpy as np
import os
import glob
import geopandas as gpd

In [2]:
# Read all csv files in the directory given to a single dataframe
def read_csv_files(directory):
    """
    Reads all CSV files in the specified directory and concatenates them into a single DataFrame.

    Args:
        directory (str): The path to the directory containing the CSV files.

    Returns:
        pd.DataFrame: A DataFrame containing the concatenated data from all CSV files.
    """

    # Get a list of all CSV files in the directory
    csv_files = glob.glob(os.path.join(directory, '*.csv'))

    # Read and concatenate all CSV files into a single DataFrame
    df_list = [pd.read_csv(file) for file in csv_files]
    combined_df = pd.concat(df_list, ignore_index=True)

    return combined_df

# Convert the 'date' column to datetime format
def convert_date_column(df, date_column):
    """
    Converts the specified date column in the DataFrame to datetime format.

    Args:
        df (pd.DataFrame): The DataFrame containing the data.
        date_column (str): The name of the date column to convert.

    Returns:
        pd.DataFrame: The DataFrame with the date column converted to datetime format.
    """
    df[date_column] = pd.to_datetime(df[date_column], errors='coerce')
    return df

In [3]:
weather_data = read_csv_files(r'C:\Users\mwendwa.kiko\Documents\Personal_Kiko\OneDrive\OneDrive - University of Toronto\UofT\Research\EV Adoption\Climate_Data')
weather_data

,x,y,FRE_PROVINCE_NAME,HEATING_DEGREE_DAYS,STATION_NAME,NORMAL_SUNSHINE,SNOW_ON_GROUND_LAST_DAY,NORMAL_PRECIPITATION,ID,DAYS_WITH_VALID_MEAN_TEMP,...,PROVINCE_CODE,LOCAL_YEAR,TOTAL_SNOWFALL,BRIGHT_SUNSHINE,DAYS_WITH_VALID_MAX_TEMP,DAYS_WITH_PRECIP_GE_1MM,CLIMATE_IDENTIFIER,DAYS_WITH_VALID_MIN_TEMP,MAX_TEMPERATURE,LONGITUDE
0,-105.966667,49.733333,SASKATCHEWAN,702.5,ASSINIBOIA,NaN,NaN,18.21,3070.1977.12,22.0,...,SK,1977,38.2,NaN,22.0,9.0,4020280,23.0,3.9,-105.967
1,-105.966667,49.733333,SASKATCHEWAN,1163.0,ASSINIBOIA,NaN,NaN,16.34,3070.1978.1,31.0,...,SK,1978,15.8,NaN,31.0,4.0,4020280,31.0,-0.6,-105.967
2,-105.966667,49.733333,SASKATCHEWAN,902.0,ASSINIBOIA,NaN,NaN,10.05,3070.1978.2,28.0,...,SK,1978,15.3,NaN,28.0,7.0,4020280,28.0,2.8,-105.967
3,-105.966667,49.733333,SASKATCHEWAN,399.5,ASSINIBOIA,NaN,NaN,22.73,3070.1978.3,21.0,...,SK,1978,5.3,NaN,22.0,3.0,4020280,22.0,20.0,-105.967
4,-105.966667,49.733333,SASKATCHEWAN,378.9,ASSINIBOIA,NaN,NaN,17.40,3070.1978.4,29.0,...,SK,1978,5.6,NaN,30.0,9.0,4020280,29.0,22.8,-105.967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339155,-114.483333,52.766667,ALBERTA,NaN,BLINDMAN,NaN,NaN,NaN,2053.1967.5,0.0,...,AB,1967,4.1,NaN,0.0,6.0,3020715,0.0,NaN,-114.483
339156,-114.483333,52.766667,ALBERTA,NaN,BLINDMAN,NaN,NaN,NaN,2053.1967.7,0.0,...,AB,1967,0.0,NaN,0.0,9.0,3020715,0.0,NaN,-114.483
339157,-114.483333,52.766667,ALBERTA,NaN,BLINDMAN,NaN,NaN,NaN,2053.1967.8,0.0,...,AB,1967,0.0,NaN,0.0,6.0,3020715,0.0,NaN,-114.483
339158,-114.483333,52.766667,ALBERTA,NaN,BLINDMAN,NaN,NaN,NaN,2053.1967.9,0.0,...,AB,1967,0.0,NaN,0.0,3.0,3020715,0.0,NaN,-114.483
339159,-114.483333,52.766667,ALBERTA,NaN,BLINDMAN,NaN,NaN,NaN,2053.1967.10,0.0,...,AB,1967,14.0,NaN,0.0,3.0,3020715,0.0,NaN,-114.483

In [4]:
weather_data['FRE_PROVINCE_NAME'].value_counts()

COLOMBIE-BRITANNIQUE         91392
ALBERTA                      69985
SASKATCHEWAN                 43972
ONTARIO                      38392
QUÉBEC                       33003
MANITOBA                     24610
TERRE-NEUVE                  10362
NOUVEAU-BRUNSWICK             8476
NOUVELLE-ÉCOSSE               6886
NUNAVUT                       5578
YUKON                         3438
ÎLE DU PRINCE-ÉDOUARD         1943
TERRITOIRES DU NORD-OUEST     1123
Name: FRE_PROVINCE_NAME, dtype: int64

In [5]:
weather_data = weather_data.drop_duplicates()

In [6]:
weather_data_shp = gpd.GeoDataFrame(weather_data, geometry=gpd.points_from_xy(weather_data.x, weather_data.y))
weather_data_shp

,x,y,FRE_PROVINCE_NAME,HEATING_DEGREE_DAYS,STATION_NAME,NORMAL_SUNSHINE,SNOW_ON_GROUND_LAST_DAY,NORMAL_PRECIPITATION,ID,DAYS_WITH_VALID_MEAN_TEMP,...,LOCAL_YEAR,TOTAL_SNOWFALL,BRIGHT_SUNSHINE,DAYS_WITH_VALID_MAX_TEMP,DAYS_WITH_PRECIP_GE_1MM,CLIMATE_IDENTIFIER,DAYS_WITH_VALID_MIN_TEMP,MAX_TEMPERATURE,LONGITUDE,geometry
0,-105.966667,49.733333,SASKATCHEWAN,702.5,ASSINIBOIA,NaN,NaN,18.21,3070.1977.12,22.0,...,1977,38.2,NaN,22.0,9.0,4020280,23.0,3.9,-105.967,POINT (-105.96667 49.73333)
1,-105.966667,49.733333,SASKATCHEWAN,1163.0,ASSINIBOIA,NaN,NaN,16.34,3070.1978.1,31.0,...,1978,15.8,NaN,31.0,4.0,4020280,31.0,-0.6,-105.967,POINT (-105.96667 49.73333)
2,-105.966667,49.733333,SASKATCHEWAN,902.0,ASSINIBOIA,NaN,NaN,10.05,3070.1978.2,28.0,...,1978,15.3,NaN,28.0,7.0,4020280,28.0,2.8,-105.967,POINT (-105.96667 49.73333)
3,-105.966667,49.733333,SASKATCHEWAN,399.5,ASSINIBOIA,NaN,NaN,22.73,3070.1978.3,21.0,...,1978,5.3,NaN,22.0,3.0,4020280,22.0,20.0,-105.967,POINT (-105.96667 49.73333)
4,-105.966667,49.733333,SASKATCHEWAN,378.9,ASSINIBOIA,NaN,NaN,17.40,3070.1978.4,29.0,...,1978,5.6,NaN,30.0,9.0,4020280,29.0,22.8,-105.967,POINT (-105.96667 49.73333)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322074,-118.228417,49.016833,COLOMBIE-BRITANNIQUE,557.6,BILLINGS,NaN,6.0,60.02,1100.2024.12,31.0,...,2024,34.4,NaN,31.0,10.0,1140876,31.0,4.0,-118.228,POINT (-118.22842 49.01683)
322075,-118.228417,49.016833,COLOMBIE-BRITANNIQUE,637.2,BILLINGS,NaN,17.0,49.44,1100.2025.1,31.0,...,2025,29.0,NaN,31.0,9.0,1140876,31.0,3.5,-118.228,POINT (-118.22842 49.01683)
322076,-118.228417,49.016833,COLOMBIE-BRITANNIQUE,529.9,BILLINGS,NaN,0.0,32.92,1100.2025.2,25.0,...,2025,23.0,NaN,25.0,10.0,1140876,25.0,12.0,-118.228,POINT (-118.22842 49.01683)
322077,-118.228417,49.016833,COLOMBIE-BRITANNIQUE,402.5,BILLINGS,NaN,0.0,38.67,1100.2025.3,31.0,...,2025,10.4,NaN,31.0,15.0,1140876,31.0,17.0,-118.228,POINT (-118.22842 49.01683)
322078,-118.228417,49.016833,COLOMBIE-BRITANNIQUE,243.6,BILLINGS,NaN,0.0,46.31,1100.2025.4,30.0,...,2025,0.0,NaN,30.0,8.0,1140876,30.0,25.5,-118.228,POINT (-118.22842 49.01683)

In [7]:
# Set crs to WGS84
weather_data_shp = weather_data_shp.set_crs(epsg=4326, inplace=True)

Find how many stations are in each zone

In [8]:
# Define the top-level folder that contains a subfolder for each province
base_folder = 'AggregatedZones_Nationwide'

# List to store GeoDataFrames from each province
province_gdfs = []

# Loop over each subfolder (each representing a province)
for province in os.listdir(base_folder):
    province_folder = os.path.join(base_folder, province)
    if os.path.isdir(province_folder):
        # Read every shapefile in the province folder
        shapefiles = [gpd.read_file(os.path.join(province_folder, f))
                      for f in os.listdir(province_folder) if f.endswith('.shp')]
        if shapefiles:
            # Concatenate the shapefiles into a single GeoDataFrame for the province
            province_gdf = pd.concat(shapefiles, ignore_index=True)
            # Assign a unique ZoneID for each feature using the province name as prefix
            # e.g., "Manitoba_1", "all_zones_2", etc.
            province_gdf['ZoneID'] = province + '_' + (province_gdf.index + 1).astype(str)
            province_gdfs.append(province_gdf)

# Combine all provinces into one GeoDataFrame
zones_old = pd.concat(province_gdfs, ignore_index=True)

In [9]:
weather_data_shp = weather_data_shp.to_crs(zones_old.crs)  # Ensure both GeoDataFrames have the same CRS
joined = gpd.sjoin(zones_old, weather_data_shp, how='inner', op='intersects')
# Group by ZoneID and count the number of weather stations
counts = joined.groupby('ZoneID').size().reset_index(name='Weather_Station_Count')
# Merge the counts back into the original zones GeoDataFrame
zones_old_merged1 = zones_old.merge(counts, on='ZoneID', how='inner')

c:\Users\mwendwa.kiko\Anaconda3\envs\geopandas_env2\lib\site-packages\IPython\core\interactiveshell.py:3445: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [10]:
zones_old_merged1 = zones_old.merge(counts, on='ZoneID', how='inner')

Seems reasonable to me. So the weather data gotten through a random selection of stations from [here](https://climate-change.canada.ca/climate-data/#/monthly-climate-summaries) is probably sufficient

In [11]:
joined

,SUM_veh_ad,geometry,ZoneID,PRNAME,SUM_total_,index_right,x,y,FRE_PROVINCE_NAME,HEATING_DEGREE_DAYS,...,PROVINCE_CODE,LOCAL_YEAR,TOTAL_SNOWFALL,BRIGHT_SUNSHINE,DAYS_WITH_VALID_MAX_TEMP,DAYS_WITH_PRECIP_GE_1MM,CLIMATE_IDENTIFIER,DAYS_WITH_VALID_MIN_TEMP,MAX_TEMPERATURE,LONGITUDE
1,142208.0,"POLYGON ((4541006.120 2118359.740, 4542508.151...",Alberta_2,NaN,NaN,181810,-110.013612,49.245280,ALBERTA,952.0,...,AB,2000,20.0,NaN,31.0,7.0,3040223,31.0,5.0,-110.014
1,142208.0,"POLYGON ((4541006.120 2118359.740, 4542508.151...",Alberta_2,NaN,NaN,181809,-110.013612,49.245280,ALBERTA,425.2,...,AB,2000,NaN,NaN,31.0,NaN,3040223,31.0,23.0,-110.014
1,142208.0,"POLYGON ((4541006.120 2118359.740, 4542508.151...",Alberta_2,NaN,NaN,181808,-110.013612,49.245280,ALBERTA,195.6,...,AB,2000,0.0,NaN,30.0,5.0,3040223,30.0,36.0,-110.014
1,142208.0,"POLYGON ((4541006.120 2118359.740, 4542508.151...",Alberta_2,NaN,NaN,181803,-110.013612,49.245280,ALBERTA,284.0,...,AB,2000,17.0,NaN,28.0,2.0,3040223,28.0,30.0,-110.014
1,142208.0,"POLYGON ((4541006.120 2118359.740, 4542508.151...",Alberta_2,NaN,NaN,181807,-110.013612,49.245280,ALBERTA,50.5,...,AB,2000,0.0,NaN,31.0,3.0,3040223,31.0,36.0,-110.014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,NaN,"MULTIPOLYGON (((4594419.069 4182485.731, 45944...",Territories_3,Yukon,1787.0,160891,-140.350000,64.233333,YUKON,535.0,...,YT,1974,64.0,NaN,21.0,10.0,2100165,20.0,-6.1,-140.350
105,NaN,"MULTIPOLYGON (((4594419.069 4182485.731, 45944...",Territories_3,Yukon,1787.0,160890,-140.350000,64.233333,YUKON,550.1,...,YT,1974,49.2,NaN,21.0,9.0,2100165,22.0,2.2,-140.350
105,NaN,"MULTIPOLYGON (((4594419.069 4182485.731, 45944...",Territories_3,Yukon,1787.0,160889,-140.350000,64.233333,YUKON,565.2,...,YT,1974,86.9,NaN,24.0,12.0,2100165,24.0,0.6,-140.350
105,NaN,"MULTIPOLYGON (((4594419.069 4182485.731, 45944...",Territories_3,Yukon,1787.0,160888,-140.350000,64.233333,YUKON,216.2,...,YT,1974,0.0,NaN,22.0,6.0,2100165,21.0,22.2,-140.350
105,NaN,"MULTIPOLYGON (((4594419.069 4182485.731, 45944...",Territories_3,Yukon,1787.0,160887,-140.350000,64.233333,YUKON,150.7,...,YT,1974,22.9,NaN,20.0,12.0,2100165,21.0,21.7,-140.350

In [12]:
joined.columns

Index(['SUM_veh_ad', 'geometry', 'ZoneID', 'PRNAME', 'SUM_total_',
       'index_right', 'x', 'y', 'FRE_PROVINCE_NAME', 'HEATING_DEGREE_DAYS',
       'STATION_NAME', 'NORMAL_SUNSHINE', 'SNOW_ON_GROUND_LAST_DAY',
       'NORMAL_PRECIPITATION', 'ID', 'DAYS_WITH_VALID_MEAN_TEMP',
       'DAYS_WITH_VALID_SUNSHINE', 'LOCAL_DATE', 'MIN_TEMPERATURE',
       'NORMAL_SNOWFALL', 'ENG_PROVINCE_NAME', 'LATITUDE', 'LAST_UPDATED',
       'DAYS_WITH_VALID_SNOWFALL', 'DAYS_WITH_VALID_PRECIP', 'LOCAL_MONTH',
       'MEAN_TEMPERATURE', 'TOTAL_PRECIPITATION', 'COOLING_DEGREE_DAYS',
       'NORMAL_MEAN_TEMPERATURE', 'PROVINCE_CODE', 'LOCAL_YEAR',
       'TOTAL_SNOWFALL', 'BRIGHT_SUNSHINE', 'DAYS_WITH_VALID_MAX_TEMP',
       'DAYS_WITH_PRECIP_GE_1MM', 'CLIMATE_IDENTIFIER',
       'DAYS_WITH_VALID_MIN_TEMP', 'MAX_TEMPERATURE', 'LONGITUDE'],
      dtype='object')

In [13]:
vars_interest = ['NORMAL_SUNSHINE', 'MIN_TEMPERATURE', 'NORMAL_SNOWFALL', 'DAYS_WITH_VALID_SUNSHINE', 
        'NORMAL_PRECIPITATION', 'MEAN_TEMPERATURE']
joined[vars_interest].describe()

,NORMAL_SUNSHINE,MIN_TEMPERATURE,NORMAL_SNOWFALL,DAYS_WITH_VALID_SUNSHINE,NORMAL_PRECIPITATION,MEAN_TEMPERATURE
count,9162.000000,179024.000000,41201.000000,28397.000000,58317.000000,178238.000000
mean,162.336210,-11.251174,21.460538,11.550724,84.065835,3.823864
std,79.208786,14.209804,22.155964,14.718786,69.719033,11.188022
min,7.800000,-56.700000,0.010000,0.000000,6.210000,-43.885714
25%,94.140000,-22.500000,4.570000,0.000000,41.020000,-4.470726
50%,161.110000,-7.000000,14.530000,0.000000,74.640000,5.500000
75%,220.010000,0.000000,29.220000,30.000000,101.530000,13.213333
max,428.550000,19.000000,119.830000,31.000000,677.750000,26.641935

In [14]:
joined.loc[joined['ZoneID'] == 'Alberta_1', vars_interest]

Empty DataFrame
Columns: [NORMAL_SUNSHINE, MIN_TEMPERATURE, NORMAL_SNOWFALL, DAYS_WITH_VALID_SUNSHINE, NORMAL_PRECIPITATION, MEAN_TEMPERATURE]
Index: []

In [15]:
weather_vars_zones1 = joined.groupby('ZoneID')[vars_interest].mean().reset_index()
weather_vars_zones1

,ZoneID,NORMAL_SUNSHINE,MIN_TEMPERATURE,NORMAL_SNOWFALL,DAYS_WITH_VALID_SUNSHINE,NORMAL_PRECIPITATION,MEAN_TEMPERATURE
0,Alberta_10,179.135336,-8.920606,13.922808,14.683168,39.107431,5.747117
1,Alberta_13,NaN,-12.475695,13.660839,0.000000,43.712115,3.610662
2,Alberta_14,NaN,-15.914613,NaN,0.000000,NaN,1.576282
3,Alberta_15,NaN,-14.528805,8.736794,0.000000,33.387759,2.661195
4,Alberta_16,NaN,-10.213841,8.339059,10.959450,27.679307,5.445484
...,...,...,...,...,...,...,...
65,Saskatchewan_4,198.781687,-13.850909,11.972720,9.350955,35.481072,3.123535
66,Saskatchewan_5,NaN,-14.505514,10.461426,5.143232,33.260430,2.694021
67,Territories_1,NaN,-21.234053,NaN,27.590909,NaN,-6.781088
68,Territories_2,297.321711,-22.642444,14.088301,3.727019,17.118110,-12.136869
69,Territories_3,NaN,-21.573872,10.574522,0.000000,27.998239,-3.994774

In [16]:
weather_vars_zones1.isna().sum()

ZoneID                       0
NORMAL_SUNSHINE             57
MIN_TEMPERATURE              5
NORMAL_SNOWFALL             29
DAYS_WITH_VALID_SUNSHINE    35
NORMAL_PRECIPITATION        29
MEAN_TEMPERATURE             5
dtype: int64

Some zones have no weather stations in them it seems. So I have to use some approximation, e.g. take the weather data from the station closest to their centroid in that case.

In [17]:
zone_centroids = gpd.GeoDataFrame(geometry=zones_old.geometry.centroid)
zone_centroids['ZoneID'] = zones_old['ZoneID']
zone_centroids = zone_centroids.to_crs(crs=weather_data_shp.crs)  # Ensure both GeoDataFrames have the same CRS

nearest = gpd.sjoin_nearest(
    zone_centroids,
    weather_data_shp.dropna(subset=['MIN_TEMPERATURE', 'MEAN_TEMPERATURE']),
    how="left",                # keep all zones
    distance_col="dist_m"      # name of the new distance column
)

In [18]:
nearest

,geometry,ZoneID,index_right,x,y,FRE_PROVINCE_NAME,HEATING_DEGREE_DAYS,STATION_NAME,NORMAL_SUNSHINE,SNOW_ON_GROUND_LAST_DAY,...,LOCAL_YEAR,TOTAL_SNOWFALL,BRIGHT_SUNSHINE,DAYS_WITH_VALID_MAX_TEMP,DAYS_WITH_PRECIP_GE_1MM,CLIMATE_IDENTIFIER,DAYS_WITH_VALID_MIN_TEMP,MAX_TEMPERATURE,LONGITUDE,dist_m
0,POINT (4804068.302 2167081.210),Alberta_1,116815,-113.888778,53.996833,ALBERTA,615.2,BUSBY,NaN,3.0,...,2007,8.4,NaN,29.0,3.0,3010978,29.0,8.5,-113.889,56602.595221
0,POINT (4804068.302 2167081.210),Alberta_1,116712,-113.888778,53.996833,ALBERTA,406.5,BUSBY,NaN,NaN,...,1999,13.6,NaN,30.0,7.0,3010978,30.0,22.5,-113.889,56602.595221
0,POINT (4804068.302 2167081.210),Alberta_1,116713,-113.888778,53.996833,ALBERTA,299.8,BUSBY,NaN,0.0,...,1999,0.0,NaN,31.0,12.0,3010978,31.0,28.0,-113.889,56602.595221
0,POINT (4804068.302 2167081.210),Alberta_1,116714,-113.888778,53.996833,ALBERTA,153.2,BUSBY,NaN,0.0,...,1999,0.0,NaN,30.0,10.0,3010978,30.0,25.5,-113.889,56602.595221
0,POINT (4804068.302 2167081.210),Alberta_1,116715,-113.888778,53.996833,ALBERTA,109.1,BUSBY,NaN,0.0,...,1999,0.0,NaN,31.0,11.0,3010978,31.0,28.0,-113.889,56602.595221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,POINT (4263748.522 3693606.082),Territories_3,9918,-133.383333,62.366667,YUKON,988.9,ANVIL,NaN,76.0,...,1990,35.9,NaN,28.0,15.0,2100120,26.0,6.0,-133.383,147796.482792
105,POINT (4263748.522 3693606.082),Territories_3,9917,-133.383333,62.366667,YUKON,881.3,ANVIL,NaN,64.0,...,1990,34.3,NaN,26.0,11.0,2100120,29.0,-1.0,-133.383,147796.482792
105,POINT (4263748.522 3693606.082),Territories_3,9916,-133.383333,62.366667,YUKON,808.6,ANVIL,NaN,49.0,...,1989,12.8,NaN,31.0,6.0,2100120,31.0,9.0,-133.383,147796.482792
105,POINT (4263748.522 3693606.082),Territories_3,9915,-133.383333,62.366667,YUKON,981.6,ANVIL,NaN,NaN,...,1989,0.0,NaN,30.0,0.0,2100120,30.0,4.0,-133.383,147796.482792
105,POINT (4263748.522 3693606.082),Territories_3,9914,-133.383333,62.366667,YUKON,594.7,ANVIL,NaN,NaN,...,1989,0.0,NaN,29.0,1.0,2100120,27.0,9.0,-133.383,147796.482792

In [19]:
nearest_each_zone = nearest.groupby('ZoneID').first().reset_index()
nearest_each_zone

,ZoneID,geometry,index_right,x,y,FRE_PROVINCE_NAME,HEATING_DEGREE_DAYS,STATION_NAME,NORMAL_SUNSHINE,SNOW_ON_GROUND_LAST_DAY,...,LOCAL_YEAR,TOTAL_SNOWFALL,BRIGHT_SUNSHINE,DAYS_WITH_VALID_MAX_TEMP,DAYS_WITH_PRECIP_GE_1MM,CLIMATE_IDENTIFIER,DAYS_WITH_VALID_MIN_TEMP,MAX_TEMPERATURE,LONGITUDE,dist_m
0,Alberta_1,POINT (4804068.302 2167081.210),116815,-113.888778,53.996833,ALBERTA,615.2,BUSBY,NaN,3.0,...,2007,8.4,NaN,29.0,3.0,3010978,29.0,8.5,-113.889,56602.595221
1,Alberta_10,POINT (4812763.598 2536310.802),236630,-116.433333,56.300000,ALBERTA,125.5,CADOTTE LO,NaN,0.0,...,1995,0.0,NaN,31.0,13.0,3070995,31.0,26.0,-116.433,67038.818841
2,Alberta_11,POINT (4812100.587 2176448.223),116815,-113.888778,53.996833,ALBERTA,615.2,BUSBY,NaN,3.0,...,2007,8.4,NaN,29.0,3.0,3010978,29.0,8.5,-113.889,47336.115908
3,Alberta_12,POINT (4785124.207 2171772.034),115187,-114.483333,53.166667,ALBERTA,246.8,BRETON,NaN,0.0,...,2002,0.0,NaN,30.0,11.0,3010815,30.0,26.5,-114.483,49548.134038
4,Alberta_13,POINT (4757875.074 2118850.402),113184,-114.195000,52.930556,ALBERTA,747.0,BATTLE HEADWATERS,NaN,0.0,...,2007,16.2,NaN,30.0,4.0,3010540,30.0,10.0,-114.195,9175.650097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,Saskatchewan_4,POINT (5353988.864 1632641.041),144818,-104.216667,50.050000,SASKATCHEWAN,372.5,BECHARD,NaN,0.0,...,1974,15.2,NaN,31.0,2.0,4010540,31.0,25.0,-104.217,29562.916891
102,Saskatchewan_5,POINT (5307382.527 2160048.808),6836,-105.866667,53.983333,SASKATCHEWAN,57.5,BITTERN CREEK,NaN,NaN,...,1953,0.0,NaN,31.0,9.0,4060760,31.0,32.2,-105.867,82482.828723
103,Territories_1,POINT (5054670.991 3503646.063),54025,-114.833333,68.783333,NUNAVUT,325.7,BERNARD HARBOUR,NaN,NaN,...,1960,0.0,NaN,31.0,13.0,2300555,31.0,23.3,-114.833,356182.331119
104,Territories_2,POINT (6258415.467 3698279.653),56741,-85.012222,72.992778,NUNAVUT,315.4,ARCTIC BAY CS,NaN,0.0,...,2020,2.9,NaN,31.0,6.0,2400404,31.0,17.4,-85.012,390629.267146
105,Territories_3,POINT (4263748.522 3693606.082),9845,-133.383333,62.366667,YUKON,222.3,ANVIL,NaN,0.0,...,1979,0.0,NaN,31.0,8.0,2100120,31.0,24.0,-133.383,147796.482792

In [20]:
nearest_each_zone_ids = nearest_each_zone[['ZoneID', 'ID']].copy()

weather_data_nearest = weather_data_shp.merge(nearest_each_zone_ids, on='ID', how='inner')
weather_data_nearest = weather_data_nearest.drop_duplicates()

weather_vars_zones2 = weather_data_nearest.groupby('ZoneID')[vars_interest].mean().reset_index()
weather_vars_zones2

,ZoneID,NORMAL_SUNSHINE,MIN_TEMPERATURE,NORMAL_SNOWFALL,DAYS_WITH_VALID_SUNSHINE,NORMAL_PRECIPITATION,MEAN_TEMPERATURE
0,Alberta_1,NaN,-24.0,NaN,NaN,NaN,-3.971429
1,Alberta_10,NaN,5.0,NaN,NaN,NaN,13.951613
2,Alberta_11,NaN,-24.0,NaN,NaN,NaN,-3.971429
3,Alberta_12,NaN,-2.5,NaN,NaN,NaN,9.773333
4,Alberta_13,NaN,-31.7,NaN,NaN,NaN,-6.900000
...,...,...,...,...,...,...,...
101,Saskatchewan_4,NaN,-23.3,NaN,NaN,NaN,5.983871
102,Saskatchewan_5,NaN,3.3,NaN,NaN,NaN,16.861290
103,Territories_1,NaN,2.8,NaN,NaN,NaN,7.493548
104,Territories_2,NaN,1.3,NaN,0.0,NaN,7.825806
105,Territories_3,NaN,-7.0,NaN,NaN,NaN,10.829032

In [21]:
weather_vars_zones2.isna().sum()

ZoneID                        0
NORMAL_SUNSHINE             106
MIN_TEMPERATURE               0
NORMAL_SNOWFALL             100
DAYS_WITH_VALID_SUNSHINE     99
NORMAL_PRECIPITATION         98
MEAN_TEMPERATURE              0
dtype: int64

Merging the two, to fill some of the NA values

In [28]:
weather_vars_zones['MIN_TEMPERATURE'].fillna(weather_vars_zones['MIN_TEMPERATURE_nafill'], inplace=True)
weather_vars_zones['MEAN_TEMPERATURE'].fillna(weather_vars_zones['MEAN_TEMPERATURE_nafill'], inplace=True)

weather_vars_zones.isna().sum()

ZoneID                               0
NORMAL_SUNSHINE                     93
MIN_TEMPERATURE                      0
NORMAL_SNOWFALL                     65
DAYS_WITH_VALID_SUNSHINE            71
NORMAL_PRECIPITATION                65
MEAN_TEMPERATURE                     0
NORMAL_SUNSHINE_nafill             106
MIN_TEMPERATURE_nafill               0
NORMAL_SNOWFALL_nafill             100
DAYS_WITH_VALID_SUNSHINE_nafill     99
NORMAL_PRECIPITATION_nafill         98
MEAN_TEMPERATURE_nafill              0
dtype: int64

In [29]:
weather_vars_zones.to_csv('weather_vars_zones.csv', index=False)